# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
.idea/
_Builds
_Builds/
Builds
Builds/
Logs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea

# ============ #
# Heavy assets #
# ============ #
*.png~
/Logs
~*.tmp
~*.docx
~$*.docx

Assets/Editor/x64/Bakery.meta
Assets/Editor/x64.meta
debug.log
/UserSettings/EditorUserSettings.asset
/UserSettings/Search.index
/UserSettings/Search.settings
/ProjectSettings/SceneTemplateSettings.json
/UserSettings*
